package %{packages};

%{imports}
import java.util.Arrays;
import javax.faces.bean.ManagedBean;
import javax.faces.bean.RequestScoped;
import java.util.List;

import ve.gob.cnti.gestion.utils.Utils;
import ve.gob.cnti.gestion.utils.annotations.*;

%{anotacion}
@ManagedBean(name = "%{nameBean}", eager = true)
@RequestScoped
public class %{NameBean}  {

	%{attributes}
	
    public %{NameBean}() {}

	%{setAndGetMethods} 

}