package %{packages};

%{imports}

import javax.faces.bean.ManagedBean;
import javax.faces.bean.RequestScoped;
import ve.gob.cnti.gestion.utils.annotations.FieldIsActuacion;


@ManagedBean(name = "%{nameBean}", eager = true)
@RequestScoped
public class %{NameBean}  {

	%{attributes}
	
    public %{NameBean}() {}

	%{setAndGetMethods} 

}